main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0 0;
}

.rating span {
  margin: 0.1rem;
}

/* Carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  display: flex;
}

.carousel {
  text-align: center;
}

.carousel-caption {
  position: absolute;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 18.75rem;
  padding: 1.875rem;
  margin: 2.5rem;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}

.image-size {
  width: 600px;
  height: 600px;
}

.line-break {
  white-space: pre-line;
}

.inline-el {
  display: inline;
}

.coupon-message {
  color: red;
}
